


@use "sass:map";


// sass import

//base
@import 'base/var';
@import 'base/font';
@import 'base/color';


//component
@import 'component/btn';
@import 'component/form';
@import 'component/table';

//layout
@import 'layout/footer';
@import 'layout/header';


//mixins
@import 'mixin/mixin';


//page
@import 'page/about';
@import 'page/index';




// css import
// @import url('header.css');


body{
    font-family: $fontFamily;
    background-color: $bgc;
    color: $fontColor;
    margin: $marginList;
    padding: $padding;
    font-size: $fontSize;
}

.wrapper { 
    background-color: $wrapperBgc;

    @if $fullWidth {
        width: 100%;
    }
    @else {
        width: 900px;
        margin: auto;
    }
    padding: null;  //給 Null 空值可以把屬性刪除

    //巢狀式寫法
    h1{
        color: lime;

        span{
            color: blue;
        }
    }
    
}
// .wrapper h1 {
//     color: yellow;
// }

h1{
    //font-size: map-get($tittle, h1 ); //沒引用 "sass:map" 寫法
    font-size: map.get($tittle, h1 ); //引用 "sass:map" 寫法

}

$pFontSize: 40px; //全域變數

p.inner{ 
    $pFontSize: 20px;  //區域變數  
    font-size: $pFontSize ; 

    $pFontSize: 20px !global;  //可提升為全域變數
}

p.out{
    font-size: $pFontSize;
}

$b : #000000;
$b : #FF0000 !default;  //可變更為預設值

p.color{
    color: $b;
}

// 字串轉變數
$class : '.box';

#{$class} {
    width: 300px;
    height: 300px;
}

$banner: 'banner';

.bg{
    background-image: url(../img/#{$banner}.jpg);
}













// 指令: sass "來源" "目標" --watch (即時編譯成 css)

// ex. sass style.scss css/style.css --watch