/* CSS 註解 */

//變數目前只能放在屬性值裡
$fontSize: 50px;     //宣告變數
$fontFamily: "微軟正黑體";
$fontColor: #00ddff;
$bgc: #000000;
$margin: 0;
$padding: 0;


body{
    font-family: $fontFamily;
    background-color: $bgc;
    color: $fontColor;
    margin: $margin;
    padding: $padding;
    font-size: $fontSize;
}


// 指令: sass "來源" "目標" --watch (即時編譯成 css)

// ex. sass style.scss css/style.css --watch