/* CSS 註解 */

//變數目前只能放在屬性值裡
$fontSize: 50px;     //宣告變數
$fontFamily: "微軟正黑體";
$fontColor: #00ddff;
$bgc: #000000;
$marginList: 10px auto 20px 20px; //list
$padding: 0;
$fullWidth : false;
$wrapperBgc: red;

body{
    font-family: $fontFamily;
    background-color: $bgc;
    color: $fontColor;
    margin: $marginList;
    padding: $padding;
    font-size: $fontSize;
}

.wrapper {
    background-color: $wrapperBgc;

    @if $fullWidth {
        width: 100%;
    }
    @else {
        width: 900px;
        margin: auto;
    }
    padding: null;  //給 Null 空值可以把屬性刪除

    
}


// 指令: sass "來源" "目標" --watch (即時編譯成 css)

// ex. sass style.scss css/style.css --watch